* {
	
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family: sans-serif;
}

ul, a {
	font-weight: 500;
	font-size: 14px;
	color:#edf0f1;
	text-decoration: none;
}

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	height: 50px;
	width: 100%;
	background-color: #23252a;
}

.logo {
	cursor: pointer;
	width:160px;
}
.nav_links_header {
	list-style: none;
}
.nav_links_header li {
	display: inline-block;
	padding: 20px 35px;
}
.nav_links_header li a {
	transition: all .3s ease 0s;
}
.nav_links_header li a:hover {
	color:#FF0000;
}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	height: 75px;
	background-color: #23252a;
}

footer a{
	margin-left: 10px
}

.nav_links_footer {
	list-style: none;
}
.nav_links_footer li {
	display: inline-block;
	padding: 20px 40px;
}
.nav_links_footer li a {
	transition: all .3s ease 0s;
}
.nav_links_footer li a:hover {
	color:#FF0000;
}

#sidebar {
	position: fixed;
	width: 250px;
	background: #23252a;
	border: 4px solid #666;
	right: -254px;
	border-radius: 10px;
	top: 65px;
	padding-bottom: 10px;
	-moz-transition: all 200ms;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

#sidebar.active {
	right: 5px;
}

#sidebar ul li:first-child {
	text-align: center;
	color: white;
	font-size: 1.95em;
	list-style: none;
	padding: 25px 10px 10px 10px;
}
	
#sidebar ul li:not(:first-child) {
	width: 90%;
	margin-left: 10%;
	font-size: 1.1em;
	list-style: none;
	padding: 15px 10px;
}	
	
#sidebar ul li a {
	color: #dfe5eb;
	text-decoration: none;
}

#sidebar ul li a:hover {
	color: #FF0000;
}
	
#sidebar ul li a {
	transition: all .3s ease 0s;
}
	
#sidebar .toggle-btn {
	position: absolute;
	right: 264px;
	top: 5px;
	background: #23252a;
	padding: 10px;
	border-radius: 12px;
	cursor: pointer;
}

#sidebar .toggle-btn:hover {
	background: #556270;
}

#sidebar .toggle-btn:hover span {
	background: #fafafa;
}

#sidebar .toggle-btn span {
	display: block;
	width: 25px;
	height: 4px;
	background-color: #FF0000;
	margin: 4px 0;
}
